<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>Servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSI</servlet-name>
        <servlet-class>Servlet.WSI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WSR</servlet-name>
        <servlet-class>Servlet.WSR</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Salir</servlet-name>
        <servlet-class>Servlet.Salir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalirAdmin</servlet-name>
        <servlet-class>Servlet.SalirAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ingreso_iniciativa</servlet-name>
        <servlet-class>Servlet.ingreso_iniciativa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publicacion</servlet-name>
        <servlet-class>Servlet.Publicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciativadiferente</servlet-name>
        <servlet-class>Servlet.iniciativadiferente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/wsI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSI</servlet-name>
        <url-pattern>/WSI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WSR</servlet-name>
        <url-pattern>/WSR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Salir</servlet-name>
        <url-pattern>/Salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalirAdmin</servlet-name>
        <url-pattern>/SalirAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ingreso_iniciativa</servlet-name>
        <url-pattern>/ingreso_iniciativa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publicacion</servlet-name>
        <url-pattern>/Publicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciativadiferente</servlet-name>
        <url-pattern>/iniciativadiferente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
